



  <div class="row">
        <div class="span12">
        <div class="" id="loginModal">
              <div class="modal-header">
               
                <h3>Admin Login </h3>
              </div>
              <div class="modal-body">
                <div class="well">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                  
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="login">
                      <form class="form-horizontal" action="/admin/login" method="POST">
                        <fieldset>
                              
                          <div class="control-group">
                            
                            <label class="control-label"  for="username">Username</label>
                            <div class="form-group">
                              <input type="text" id="username" name="pname" placeholder="Enter Patient Username" class="form-control">
                            </div>
                          </div>
     
                          <div class="control-group">
                          
                            <label class="control-label" for="password">Password</label>
                            <div class="form-group">
                              <input type="password" id="password" name="patientPassword" placeholder="Enter Patient Password" class="form-control">
                            </div>
                          </div>
     
     
                          <div class="control-group">
                            
                            <div class="form-group">
                              <button class="btn btn-success">Login</button>
                            </div>
                          </div>
                        </fieldset>
                      </form>                
                    </div>
                   
                </div>
              </div>
            </div>
        </div>
  </div>



