<!-- extends layout

block content
    h1= title
    a(href="/")
        button(type="button") 7AM-9AM
    &nbsp;
    &nbsp;
    a(href="/")
        button(type="button") 9AM-11AM
    &nbsp;
    &nbsp;
    a(href="/")
        button(type="button") 11AM-1PM
    &nbsp;
    &nbsp;
    a(href="/")
        button(type="button") 2PM-4PM
    &nbsp;
    &nbsp;
    a(href="/")
        button(type="button") 4PM-6PM
    &nbsp;
    &nbsp;
    a(href="/")
        button(type="button") 6PM-8PM
    br
    br
    a(href="/")
        button(type="button") Back-To-Home -->


    <form>
        <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Select Disease</li>
      <li><a href="#">Malaria</a></li>
      <li><a href="#">Dengue</a></li>
      <li><a href="#">Typhoid</a></li>
      <li class="divider"></li>
      <li class="dropdown-header">Dropdown header 2</li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
    </form>

