	<div class="jumbotron">
		<h2 style="text-align:center;font-size: 50px">INVOICE</h2>
		<h6 style="text-align:center">Medical Treatment Report</h6>
    </div>
   
    <table class="table table-hover">
    	<tr>
    		<th colspan="3" style="text-align:center;color: blue"><h1>Treatment Details</h1></th>
    		<th><button type="button" class="btn btn-info" onclick="window.print()" style="align:center">Take a Print</button></th>
    	</tr>
    	<tr>
    	    <th>Date of Treatment</th>
    	    <th>Description/ Procedures</th>
    	    <th>Quatity</th>
    	    <th>FEE</th>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine1</td>
    	    <td>2</td>
    	    <td>20rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine2</td>
    	    <td>3</td>
    	    <td>50rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine3</td>
    	    <td>1</td>
    	    <td>55rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine4</td>
    	    <td>4</td>
    	    <td>63rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine5</td>
    	    <td>7</td>
    	    <td>45rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine6</td>
    	    <td>10</td>
    	    <td>15rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine7</td>
    	    <td>4</td>
    	    <td>14rs</td>
    	</tr>
    	<tr>
    	    <td>12-NOV-2015</td>
    	    <td>Medicine8</td>
    	    <td>6</td>
    	    <td>25rs</td>
    	</tr>
    	<tr>
    	    <td colspan="3" style="text-align:center;color: blue"><h3>Total Bill</h3></td>
    	    <td><h2>RS 5000/-</h2></td>
    	</tr>
    </table>
    
 