<h1 ng-bind="uname"></h1>
<div id="d2">
	<div align="lorem" id="dctr2">
		<button type="button" class="btn btn-primary" >Today Appointments </button><br><br>
		<button type="button" class="btn btn-primary" >Closed Appointments</button><br><br>
		<button type="button" class="btn btn-primary" >Patient Record </button><br><br>
		<button type="button" class="btn btn-primary" >Generate the Bill</button><br><br>
		<button type="button" class="btn btn-danger"><a href="/">Doctor Out</a> </button>
	</div>
</div>