<div id="response" class="alert alert-danger" role="alert">Login failed...!</div>

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

<script type="text/javascript">
	setTimeout(function(){
  if ($('#response').length > 0) {
    $('#response').remove();
  }
}, 2000)
</script>
