
<h1> PATIENT_MODULE</h1>
<form>
   <div>
      <a href="/addpatient">
   		<button type="button" class="btn btn-primary">Add Patient</button></a>
   	  <a href="/dlist">
   		<button type="button" class="btn btn-primary">Search Doctor</button></a>
   	  <a href="/appointment">
   		<button type="button" class="btn btn-primary">Book Appointment</button></a>
   	  <a href="/bill">	
   		<button type="button" class="btn btn-primary">Generate Bill</button></a>
   	  <a href="/">
   		<button type="button" class="btn btn-primary">Back-Button</button></a>
   </div>
</form>
