
<!-- <h1> PATIENT_MODULE</h1>
<form>
   <div>
      <a href="/addpatient">
   		<button type="button" class="btn btn-primary">Add Patient</button></a>
   	  <a href="/dlist">
   		<button type="button" class="btn btn-primary">Search Doctor</button></a>
   	  <a href="/appointment">
   		<button type="button" class="btn btn-primary">Book Appointment</button></a>
   	  <a href="/bill">	
   		<button type="button" class="btn btn-primary">Generate Bill</button></a>
   	  <a href="/">
   		<button type="button" class="btn btn-primary">Back-Button</button></a>
   </div>
</form>
 -->

<div class="container">
  <h2>Register</h2>
  <form class="form-horizontal" action="/patient" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="pname">Username:</label>
      <div class="col-sm-10">
        <input type="pname" class="form-control" id="pname" placeholder="Enter pname" name="pname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="patientPassword">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="patientPassword" placeholder="Enter password" name="patientPassword">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="patientPassword">Confirm Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="cpatientPassword" placeholder="Confirm password" name="cpatientPassword">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pmobile">Mobile no:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="pmobile" placeholder="Enter no" name="pmobile">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="pmobile">Age:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="age" placeholder="Age" name="age">
      </div>
    </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="patientPassword">Disease:</label>
      <div class="col-sm-10">          
        <input type="disease" class="form-control" id="disease" placeholder="Disease" name="disease" list="browsers" >
        <datalist id="browsers">
          <option value="Malaria">
          <option value="Dengue">
          <option value="Typhoid">
          <option value="Fever">
          <option value="Safari">
        </datalist>
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
